// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/* 🔒 FORZAR MODO CLARO */
:root {
  color-scheme: light;

  --ion-background-color: #e7e1d6;
  --ion-text-color: #000000;

  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
}
